.navbar {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    var(--primary-dark),
    var(--transparent)
  );

  display: flex;
  align-items: center;
  padding: 0 50px;
  color: var(--primary-white);
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;

  //   left side div
  .ls_container {
    display: inherit;
    align-items: center;

    .logo_container {
      margin-right: 40px;

      h1 {
        font-size: 35px;
      }
    }

    .menuLinks_container ul {
      display: flex;

      li {
        margin-right: 40px;
        font-size: 18px;
      }
    }

    @media screen and (max-width: 900px) {
      .logo_container {
        h1 {
          font-size: 25px;
        }
      }

      .menuLinks_container ul {
        display: none;
      }
    }
  }
  // ***** //

  //   left side div
  .rs_container {
    display: flex;
    align-items: center;

    .contact {
      padding: 0 15px;

      a {
        letter-spacing: 3px;
      }
    }

    .auth {
      padding: 28px;

      button {
        width: 120px;
        height: 40px;
        padding: 0 24px;
        color: var(--primary-color);
        background-color: var(--primary-white);
        font-size: 16px;
        font-weight: 700;
        font-family: inherit;
        border: none;
        border-radius: 5px;
        letter-spacing: 2px;
        cursor: pointer;

        &:hover {
          color: var(--primary-white);
          background-color: unset;
          background-image: linear-gradient(
            to right,
            var(--primary-color),
            var(--secondary-color)
          );
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .rs_container {
      display: none;
    }
  }
  // ***** //

  // Hamburger
  .hamburger {
    display: none;

    svg {
      font-size: 30px;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 900px) {
    .hamburger {
      display: unset;
    }
  }
  // ***** //

  .mobile_navbar {
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-white);
    transition: all 0.3s ease-in-out;
    color: var(--primary-dark);
    padding: 0 20px;

    .top_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      flex-grow: 1;

      .hamburger svg {
        color: #e6eaf0;
      }
    }

    .bottom_container {
      .menuLinks_container ul {
        li {
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          padding-left: 10px;
          background-color: var(--primary-grey);
        }
      }

      .actions {
        position: absolute;
        left: 0;
        bottom: 50px;
        width: 100%;
        padding: 0 20px;

        .contact {
          margin: 0 0 25px;
          display: flex;
          justify-content: center;
        }

        .auth {
          button {
            width: 100%;
            height: 40px;
            padding: 0 24px;
            color: var(--primary-white);
            background-color: var(--primary-color);
            font-size: 16px;
            font-weight: 700;
            font-family: inherit;
            border: none;
            border-radius: 5px;
            letter-spacing: 2px;
            cursor: pointer;
          }
        }
      }
    }
  }

  @media screen and (min-width: 900px) {
    .mobile_navbar {
      display: none;
    }
  }

  .open {
    right: 0;
  }
}

.scroll {
  position: absolute;
  top: 905px;
  // visibility: hidden;
}

// Media Queries
@media screen and (max-width: 990px) {
  .navbar {
    padding: 0 10px 0 20px;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    height: 60px;
  }
}
