@import url("https://fonts.googleapis.com/css2?family=Allison&family=Noto+Sans+JP:wght@300;400;900&display=swap");

:root {
  --primary-color: #fd3573;
  --primary-dark: #090909;
  --primary-white: #ffffff;
  --primary-grey: #f5f7fa;
  --secondary-color: #f8ad9d;
  --tetiary-color: #ffdab9;
  --transparent: #ffffff00;
  --transparent-dark: #090909b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif, "Allison";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}
